/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-home {
    background-image: url("../../public/assets/home/background-home-desktop.jpg");
}

.background-technology {
    background-image: url("../../public/assets/technology/background-technology-desktop.jpg");
}

.background-destination {
    background-image: url("../../public/assets/destination/background-destination-desktop.jpg");
}

.background-crew {
    background-image: url("../../public/assets/crew/background-crew-desktop.jpg");
}

.heading-5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #D0D6F9;
    letter-spacing: 4.75px;
    margin-bottom: 42px;
}

.heading-2 {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    /*margin-bottom: 42px;*/
}

.heading-1 {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 150px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.subheading-1 {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.subheading-2 {
    font-family: 'Barlow Condensed', serif;
    font-size: 14px;
    letter-spacing: 2.36px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.body-text {
    font-family: 'Barlow', serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 32px;
}

@media (max-width: 1000px) {
    .background-home {
        background-image: url("../../public/assets/home/background-home-tablet.jpg");
    }

    .background-technology {
        background-image: url("../../public/assets/technology/background-technology-tablet.jpg");
    }

    .background-destination {
        background-image: url("../../public/assets/destination/background-destination-tablet.jpg");
    }

    .background-crew {
        background-image: url("../../public/assets/crew/background-crew-tablet.jpg");
    }

    .heading-5 {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 32px;
    }

    .heading-1 {
        font-size: 150px;
        margin-bottom: 32px;
    }

    .body-text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .background-home {
        background-image: url("../../public/assets/home/background-home-mobile.jpg");
    }

    .background-technology {
        background-image: url("../../public/assets/technology/background-technology-mobile.jpg");
    }

    .background-destination {
        background-image: url("../../public/assets/destination/background-destination-mobile.jpg");
    }

    .background-crew {
        background-image: url("../../public/assets/crew/background-crew-mobile.jpg");
    }

    .heading-5 {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .heading-2 {
        font-size: 100px;
        font-family: 'Bellefair', serif;
    }

    .heading-1 {
        font-size: 80px;
    }

    .body-text {
        font-size: 15px;
    }
}